.hbspt-form {
	background: transparent;
	padding: 20px 0;
}
.input {
	margin: 0;
	background: #fff;
	border-radius: 2px;
	padding: 5px;
}
.input input {
	border: 0 !important;
	outline: none;
}
.hbspt-form .hs-form-field label:not(.hs-error-msg),
.hbspt-form .hs-error-msg {
	color: #fff !important;
}
input.hs-button.primary.large {
	color: #fff !important;
	border-color: #fff !important;
}
.hbspt-form .actions {
	text-align: left !important;
}
input.hs-button.primary.large:hover {
	color: #000 !important;
	border-color: #fff !important;
	background-color: #fff !important;
}
.hbsp-form-terms {
	color: #777 !important;
	font-size: 14px !important;
	line-height: 16px !important;
}
.hbsp-form-terms a {
	color: #777 !important;
}
